# MacOS
.DS_Store

# IntelliJ
.idea
*.iml
*.ipr

# Rust
target
*.rs.bk

# Insta
*.pending-snap

# Coverage
codecov.json

# Fuzz
corpus
artifacts
coverage

# OCI
junit.xml
report.html

# Nix
result
result-dev
result-man
result-info
result-lib
result-bin

# Dir Env
.direnv
