name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

permissions: {}

env:
  ACTIONS_CACHE_SERVICE_V2: "on"
  SCCACHE_GHA_ENABLED: "true"
  SCCACHE_GHA_VERSION: "1"

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-24.04
    permissions:
      actions: write # sccache
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          shell: ci

      - name: Run checks
        run: ./scripts/checks.sh

  msrv:
    name: MSRV
    runs-on: ubuntu-24.04
    permissions:
      actions: write # sccache
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          shell: ci-msrv

      - name: Build
        run: ./scripts/msrv.sh

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    permissions:
      actions: write # sccache
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          shell: ci-nightly

      - name: Generate coverage
        run: ./scripts/coverage.sh

      - name: Upload coverage
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: coverage
          path: target/llvm-cov/html

  docs:
    name: Docs
    runs-on: ubuntu-24.04
    permissions:
      actions: write # sccache
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          shell: ci-nightly

      - name: Build docs
        run: ./scripts/docs.sh

      - name: Upload docs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: docs
          path: target/doc

  fuzz:
    name: Fuzz
    runs-on: ubuntu-24.04
    permissions:
      actions: write # sccache
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          shell: ci-nightly

      - name: Run fuzzing
        run: ./scripts/fuzz.sh

      - name: Upload artifacts
        if: failure()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: fuzz-artifacts
          path: fuzz/artifacts

  benches:
    name: Benchmarks
    runs-on: ubuntu-24.04
    permissions:
      actions: write # sccache
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup
        uses: ./.github/actions/setup
        with:
          shell: ci-nightly

      - name: Run benchmarks
        run: ./scripts/bench.sh
